body
{
    background-color: rgb(44, 199, 238);

}

.color-de
{
    font-weight: 400;
    color: rgb(20, 16, 209);
}
.back-color
{
    box-shadow: 1px 1px 0px 1px;
}

@media (max-width: 767px) {
    .card {
      margin: 0 auto;
      height: 100% !important;
      width: 55%;
    }
  }
  